body{padding-top:80px;
font-family: 'Lato', sans-serif;
}

.custom{box-shadow: 0px 10px 5px grey;}
.main-pic {position:relative;}

.caption {
	padding:24px;
	margin:0 auto;
	top:50%;
	position: absolute;
	background:rgba(0,0,0,0.6);
	color:#fff;
	border-radius:10px;
}
.card{text-align:center;border:0px;}

.slogan{
	color: #fff;
    font-size: 18px;
    font-weight: bold;
	text-transform: uppercase;
	padding-top:5px;
}

.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

#intro{font-size:1.3em}
		
.main-pic{height:85vh;}
.main-pic img{height:100%;width:100%;}

.rooms img{width:100%;height:500px;}
.rooms {text-align:center !important;}

.booking{font-size:1.4em;}

@media screen and (max-width: 450px) {
	iframe{width:100%; height:100%;}
	.booking{font-size:1em;}
	
	.main-pic{height:60vh;}
	
	.caption {padding:12px;}
	.slogan{ font-size: 12px;}
	
	.rooms img{height:150px;width:100%;}
	#intro{font-size:1.2em}
	
	.about-us{font-size:12px;}
	.card-text{font-size:16px !important;}
}


.fa {
	font-size:30px;
}

.fa-instagram {
  background: transparent;
  color: white;
}