.nav{
    color: #000;
    font-size: 12px;
    font-weight: bold;
	text-transform: uppercase;
}

.slogan{
	color: #000;
    font-size: 12px;
    font-weight: bold;
	text-transform: uppercase;
	padding-top:5px;
}

.nav ul{margin:0;}

nav.navbar{
	background-color:#fff;
}

.navbar{
	border-radius:0;
	border:0;
	border-bottom:0.5px solid;
	padding:0;
}



.panel-heading{
	text-align:center;
	background-color:#fff;
}
.panel-default > .panel-heading-custom {
background: #fff;
text-align:center;
font-size:1.5em;
color:#187F18;
}

.panel, .panel-body, .panel-heading{
	border:0;
	box-shadow: none;
}
.panel-body{
	text-align:center;
}


.service{
	padding-bottom:20px;
}
.footer a{
	color:#000;
}

.thumbnail{
	border:0;
}
.thumbnail h3{
	font-size:1.2em;
}
.well{
	background-color:#fff;
}
.hotel-sum{
	position:relative;
}
.icon{
	position:absolute;
	top:0;
	left:0;
}


/* media queries */
@media only screen and (max-width: 500px) {
	.main-pic{
		height:35vh;
	}
}