{% extends "layout.html" %}
{% block title %}Fawzy{% endblock %}
{% block head %}
  {{ super() }}
		<style>
		.heading{text-align:center;}
		.bio{font-size:1.4em;}
		.about-pic img{width:100%; height:80vh;}
		</style>
{% endblock %}
{% block content %}

<div class="main-pic">
<img class="" src="{{url_for('.static', filename='images/external_1.jpg')}}" alt="...">
		<div class="caption">
			<h4 class="slogan">Class - Elegance - Comfort</h4>
		</div>
</div>

<br>
<div class="card about-us container">
		<P class="bio">
		The hospitality industry welcomes a new classy hotel that strives to provide you with an awesome and refreshing experience. We have very clean and spacious rooms coupled with excellent services, courteous staffs and a cosy ambience. Fawzy is located on Ring Road, the most popular high street and commercial nerve centre of Ibadan. It is only 300 metres from the main road and strategically tucked in a safe and serene environment.</p>
			
		<br>
		<h3>Locate us</h3>
		<p>FAWZY HOTELS LTD. Block VII, plots 1,2,3. Adewumi layout, off akinyemi way (almost opposite Becan Breast Cancer Center) Ring Road Ibadan.</p>
		<div id="map" style="width:100%;height:400px;background:yellow"></div>
		<br>
		
		<p class="bio">We are a unique new entrant in the hospitality business with a vision to occupy a pride of place and be a force to reckon with in the industry within the shortest period of time.
		We have personnel whose experience in the hospitality business, spans more than a decade. It is our ultimate aim to offer exclusive services to you, so that your stay will be comfortable beyond your imaginations.

		Welcome to Fawzy Hotel!
		</p>


		</P>
	<hr></hr>
</div>

<script>

function myMap() {
var mapOptions = {
    center: new google.maps.LatLng(7.369637, 3.854311),
    zoom: 16,
    mapTypeId: 'roadmap'
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGuYjRrXuED-IVNLXVTGc4NkURoORPcIQ&callback=myMap"></script>
	
{% include 'footer.html' %}
{% endblock %}