<style>	
	.footer a{color:#fff;}
	.footer{background-color:#911A48;color:#fff;}
</style>

<div class="footer container-fluid">
 {% block footer %}
<div class="container">
	<div class="row">
	<div class="col-md-4 col-sm-12">
		<div class="card-body">
		<p class="card-text">
		@Fawzy Hotel...
		Your Experience starts from the smiling, cheerful receptionists at the front desk and your comfort is cushioned by the ever willing to help staff. 
		Fawzy means comfort!
		</p>
		</div>
	</div>
	<div class="col-md-8 col-sm-12">
	<div class="card-body">
		<p class="card-text">
		 FAWZY HOTELS LTD. Block VII, plots 1,2,3. Adewumi layout, off akinyemi way (almost opposite Becan Breast Cancer Center) Ring Road Ibadan.
		<p>
			Telephone: +234 8105 4799 34 <br>
			Telephone: +234 9098 8467 50 <br>
			Email: info@fawzyhotels.com
		</p>
		</p>
		<a href="https://www.instagram.com/fawzyhotels/?hl=en" class="fa fa-instagram" target="_blank"></a>
		</div>
	</div>
	</div>
</div>
{% endblock %}
</div>