{% extends "layout.html" %}
{% block title %}Fawzy{% endblock %}
{% block head %}
  {{ super() }}
		<style>	
		.footer a{color:#fff;}
		.footer{background-color:#911A48;color:#fff;}
		</style>
{% endblock %}
{% block content %}

<div class="main-pic">
	<img class="" src="{{url_for('.static', filename='images/stairwell_2.jpg')}}" alt="...">
	<div class="caption">
		<h4 class="slogan">Comfort Class Elegance</h4>
	</div>
</div>
			<div id="contact" class="card about">
			<div class="card-body">
			<P class="card-text">
					Welcome to Fawzy Hotel  where our classy and Elegant ambience will make you feel so much at home and relaxed.  Your comfort is guaranteed as it is our optimal goal.   
			Our services are excellent and You will always want to come back....
			At Fawzy Hotel,we will pamper you much and you'll be glad you made us your best choice !</p>
			</div>
			</div>
<hr></hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-8" style="text-align:center;">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/YqMZDNxuOTE" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div class="col-sm-12 col-md-4">
			<div id="contact" class="card booking">
			<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted"> Book your stay with us today! </h6
					<P class="card-text">
					please place a booking by contacting us using the information below:			 
					</p>
					<hr> </hr>
					<P class="card-text">
						Telephone: +234 8105 4799 34 <br>
						Telephone: +234 9098 8467 50 <br>
						Email: info@fawzyhotels.com
					</p>
			</div>
			</div>
		</div>
		
	</div>
</div>
<hr> </hr>
<div class="container">
	<h4 style="text-align:center;">Welcome to Fawzy Hotel! </h4>
	<hr></hr>
	
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
		  <img class="d-block img-fluid" src="{{url_for('.static', filename='images/rest_1.jpg')}}">
		</div>
		<div class="carousel-item">
		  <img class="d-block img-fluid" src="{{url_for('.static', filename='images/event_1.jpg')}}">
		</div>
		<div class="carousel-item">
		  <img class="d-block img-fluid" src="{{url_for('.static', filename='images/fawzy_1.jpg')}}">
		</div>		
		<div class="carousel-item">
		  <img class="d-block img-fluid" src="{{url_for('.static', filename='images/rec_1.jpg')}}">
		</div>		
		<div class="carousel-item">
		  <img class="d-block img-fluid" src="{{url_for('.static', filename='images/stairwell_1.jpg')}}">
		</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
</div>
<br>

{% include 'footer.html' %}

{% endblock %}
