{% extends "layout.html" %}
{% block title %}Fawzy{% endblock %}
{% block head %}
  {{ super() }}
		<style>
		.heading{text-align:center;}
		.card-text{font-size:1.4em;}
		</style>
{% endblock %}
{% block content %}
<div class="container">
	<h4 class="heading">ROOMS & RATES</h4>
	<hr></hr>
	<div class="row">
		<div class="card rooms">
		<div class="card-body">
			<div class="col-sm-12 col-md-12">
				   <div class="card-body">
					<img class="card-img-top" src="{{url_for('.static', filename='images/classic.jpg')}}" alt="...">
					<h4 class="card-title">Classic</h4>
					<h6 class="card-subtitle mb-2 text-muted">
					Prices from: &#8358;20,000
					</h6>
					<p class="card-text">
					Just as the name implies, the classic room caters to your basic needs for a comfortable stay. It features a double bed, mini fridge, tv, dining area & ensuite shower. 
					</p>
			</div>
			</div>
		</div>
		</div>

		<div class="card rooms">
		<div class="card-body">
			<div class="col-sm-12 col-md-12">
					<div class="card-body">
					<img class="card-img-top" src="{{url_for('.static', filename='images/decl_1.jpg')}}" alt="...">
					<h4 class="card-title">Deluxe Classic</h4>
					<h6 class="card-subtitle mb-2 text-muted">
					Prices from: &#8358;22,000
					</h6>
					<p class="card-text">
					This is is for people who want more space & Comfort. It’s bigger than the Classic rooms and offers a double bed, mini fridge, tv, dining area & ensuite shower. 
					</p>
			</div>
			</div>
		</div>
		</div>
			
		<div class="card rooms">
		<div class="card-body">
		   <div class="col-sm-12 col-md-12">
		   <div class="card-body">
					<img class="card-img-top" src="{{url_for('.static', filename='images/rode_1.jpg')}}" alt="...">
					<h4 class="card-title">Royale Deluxe</h4>
					<h6 class="card-subtitle mb-2 text-muted">
					Prices from: &#8358;25,000
					</h6>
					<p class="card-text">
					Now this is for the real space lovers. It comes with all the fixings: double bed, mini fridge, tv, dining area & enough space for you to stretch, move around & feel right at home. 
					</p>
			</div>
			</div>
		</div>
		</div>
		
	</div>
		
		<br>
	<div class="card rooms">
		<h4 class="card-title">Room & Hotel Services</h4>
		
		<ul class="list-group">
		  <li class="list-group-item">Restaurant</li>
		  <li class="list-group-item">Event Hall Hire</li>
		  <li class="list-group-item">Internet Access</li>
		  <li class="list-group-item">13 Available TV Stations</li>
		  <li class="list-group-item">Laundry Services</li>
		  <li class="list-group-item">24/7 Power Supply</li>
		  <li class="list-group-item">Luxury Shop</li>
		</ul>
		</div>
		
	</div>
	<br>
	
	
{% include 'footer.html' %}
{% endblock %}